{% extends 'org_base.html' %}
{% load staticfiles %}
{% block title %}机构介绍{% endblock %}
{% block companyheader %}
    <img class="fl" style="width: 112px;height: 103px" src="{{ MEDIA_URL }}{{ the_org.image }}"/>
    <div class="head fl">
        <h1>
            {{ the_org.name }}
            <img src="{% static 'images/authentication.png' %}"/>
            <img src="{% static 'images/gold.png' %}"/>
        </h1>
        <p class="fl">
            <span class="fl" style="margin-top:8px;color:#848484;">推荐指数： </span>
            <span class="precision company-credit" data-star-scope="5.0"></span>
            <span class="key">5.0</span>
        </p>
    </div>
{% endblock %}
{% block crumbs %}机构介绍{% endblock %}
{% block content %}
     <div class="right companycenter layout" >
        <div class="head">
            <h1>机构介绍</h1>
        </div>
        <div class="des">
            <p>{{ the_org.desc|safe }}</p>
        </div>
    </div>
{% endblock %}





