{% extends 'usercenter-base.html' %}
{% load staticfiles %}
{% block title %}我的收藏 {% endblock %}

<!--crumbs start-->
{% block crumbs %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'users:my_info' %}">个人中心</a>></li>
                <li>我的收藏</li>
            </ul>
        </div>
    </section>
{% endblock %}
{% block right-content %}
    <div class="right" >
            <div class="personal_des Releasecont">
                <div class="head">
                    <h1>我的收藏</h1>
                </div>

            </div>
            <div class="personal_des permessage">
                <div class="head">
                    <ul class="tab_header messagehead">
                        <li {% if fav_item == "orgs" %}class="active"{% endif %}>
                            <a href="{% url 'users:my_favorites' 'orgs' %}">课程机构</a> </li>
                        <li {% if fav_item == "teachers" %}class="active"{% endif %}>
                            <a href="{% url 'users:my_favorites' 'teachers' %}">授课教师 </a></li>
                        <li {% if fav_item == "courses" %}class="active"{% endif %}>
                            <a href="{% url 'users:my_favorites' 'courses' %}">公开课程</a></li>
                    </ul>
                </div>
                {% block favoritelist %}{% endblock %}
            </div>
        </div>
{% endblock %}
